<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class = "page-title">Kartvizitler</h1>
      <p class = "page-desciription">
        Bu ekranda kartvizitlerinizi yönetebilirsiniz.
      </p>
    </div>
    <button mat-raised-button color="warn" (click)="openAddCardModal()" style="color: darkolivegreen">Yeni Karvizit</button>
  </div>

<!--  <hr> = alta çizgi çekmiş oluyor. -->
  <hr>
  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3" *ngFor="let card of cards">
        <app-card-item [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</main>
